* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body,
input,
button {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  background: #f9f9f9;
}

/*HEADER*/

.cabecalho {
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.1rem 6.5rem 2.1rem;
  box-shadow: 0 3px 5.5rem rgb(0 0 0 / 0.2);
}

.cabecalho__logo {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 7.7rem;
  height: 7.7rem;
}

.logo__name {
  font-weight: bold;
  font-size: 3.5rem;
  margin-left: 2.5rem;
  text-decoration: none;
  color: #053f8c;
}


.cabecalho__icons {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.searchImg {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  margin-top: -3.5rem;
  margin-left: 25rem;

}

.search {
  border-radius: 3.6rem;
  margin-right: 1.65rem;
  padding-left: 1.6rem;
  position: relative;
  font-size: 1.6rem;
  width: 29.32rem;
  height: 4.6rem;
  background-color: #EAEAEA;
  color: #9B9B9B;
}

.iconeMeuCarrinho {
  margin-right: 2.4rem;

  width: 3.5rem;
  height: 3.5rem;
}

.btn-outline-primary {
  align-items: center;
  justify-content: right;
  color: black;
  font-size: 1.6rem;
  width: 8rem;
  height: 3.9rem;
}

/*BANNER*/

.divBanner {
  background-image: url(../img/Banner1.png);
  background-size: auto 100%;
  background-position: center;
  background-color: darkblue;
  height: 35.3rem;
  margin-bottom: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #eaeaea;
}

.divBanner div {
  margin: auto 6.3rem;
}

.titulo {
  font-weight: bold;
  /* margin-left: 6.3rem; */
  margin-bottom: 1.2rem;
  /* align-items: flex-end; */
  font-size: 5rem;
}

.slogan {
  /* margin-left: 6.3rem; */
  margin-bottom: 2.2rem;
  /* align-items: flex-end; */
  font-size: 2rem;
}

.btn-light {
  width: 15rem;
  padding: 1.3rem 3.9rem;
  border-radius: 1rem;
  /* margin-left: 6.3rem; */
  /* margin-bottom: 4rem; */
  font-size: 1.5rem;
}

.CarrosselProdutos {
  margin-bottom: 1.8rem;
  justify-content: center;
}

.NomeCarrossel {
  margin-left: 4.7%;
  font-size: 2.6rem;
  justify-self: auto;
  font-weight: bold;
}

.CardsProdutos {
  margin-left: 6.3rem;
  margin-right: 6.3rem;
  margin-top: 1.2rem;
  justify-content: center;
  display: flex;
  gap: 1.6rem;
}

.card {
  width: 17.4rem;
  height: 27.6rem;
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
}

.ImgCa {
  margin-bottom: 0.4rem;
}

.tituloCard {
  color: #6f6f6f;
  max-width: 100%;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
}

.preco {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  margin-bottom: 0.3rem;
}

h4 {
  font-size: 2.2rem;
}

.linkProduto {
  text-decoration: none;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.LinkProduto:link {
  color: #6f6f6f;
}
.linkProduto:visited {
  color: #6f6f6f;
}

.Rodape {
  height: 8.8rem;
  align-self: end;
  background-color: #053f8c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.About_Contact {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 6.4rem;
}

.About {
  width: 28.4rem;
  height: 6.4rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  margin-left: 14%;
  background-color: #00275b;
}

.Sobre {
  color: #f9f9f9;
  margin-bottom: 0.1rem;
}

.infos {
  font-size: 1rem;
  color: #f9f9f9;
}

.Contatos {
  width: 28.4rem;
  height: 6.4rem;
}

.ContatoTitulo {
  color: #f9f9f9;
  margin-bottom: 0.1rem;
}

.ContatosInfos {
  font-size: 1rem;
  color: #f9f9f9;
}

.CertificadoSeguro {
  padding-right: 5%;
  justify-content: flex-end;
}

.loginForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10rem;
  margin-left: 20rem;
  margin-bottom: 35rem;
  width: 30rem;
  height: 30rem;
}
